@import "vars"


    
// ≥1200px
+media-breakpoint-down(lg)
    .heading
        &_lg
            font-size: 54px
    .digits
        &__item
            min-width: 320px
    body
        padding-top: 90px
    .ecosystem-group-2
        display: none !important
    .section_ecosystem
        padding-top: 80px
    .ecosystem-text
        margin-top: 80px
    .ecosystem-group
        flex-wrap: wrap
        padding-left: 0
        padding-right: 0
        justify-content: space-between
    .ecosystem-item
        width: calc(50% - 10px) !important
        height: 180px !important
        padding-top: 50px !important
        margin-top: 0 !important
        text-align: right !important
        border-radius: 0 30px 0 30px !important
        padding-right: 40px !important
        &__icon
            top: 65px !important
            right: 91px !important
            left: auto !important
        &__title
            top: 114px !important
            right: 0 !important
            padding-right: 40px !important
        &__icon
            right: 91px !important

    .header
        height: 90px
        &__logo
            width: 66.4px
            height: 56px
            position: absolute
            left: 0
            top: 17px
            svg
                width: 66.4px
                height: 56px
        &__menu
            top: 33.5px
            padding-left: 66.4px + 30px
            padding-right: 139px + 30px
            li
                a
                    font-size: 16px
        &__phone
            font-size: 18px
            top: 34px
    .intro-slider
        .splide
            &__pagination
                margin-left: -470px

    .splide
        &__arrow
            &--prev
                margin-left: -497px - 50px
            &--next
                margin-left: 497px
    .intro-slider
        .splide
            &__slide
                min-height: 720px

    .section-scroll-track
        padding-top: 90px
    .banner_journal
        &:after
            right: 0

    .advantages
        &__item
            margin-top: 0
            align-self: stretch
            &-title
                font-size: 20px

    .slider-bg
        min-height: auto
        .splide
            margin-top: 80px
            margin-bottom: 80px

    .advantage-card
        &__text
            font-size: 20px

    .result-card
        &__img
            img
                max-width: 180px

        &__title
            font-size: 28px
            line-height: 36px
        &__price
            font-size: 24px
            line-height: 36px
        &__addr
            font-size: 18px
        &__desc
            font-size: 16px
// ≥992px
+media-breakpoint-down(md)
    .section_delivery-intro, .section_smart-intro
        min-height: 0 !important
        .text-wrapper
            display: block !important
            padding-top: 140px
            padding-bottom: 140px
            min-height: 0 !important

    .section-offset
        padding-top: 60px
        padding-bottom: 60px
    body
        padding-top: 60px
    .heading
        &_lg
            font-size: 48px
        &_md
            font-size: 40px
        &_sm
            font-size: 30px
        &_xs
            font-size: 21px
    .header
        height: 60px
        position: fixed !important
        box-shadow: 0px 4px 4px #E2E8EB !important
        background-color: #fff !important
        &__menu
            display: none

        &__logo
            width: 53.12px
            height: 44.8px
            top: 7.6px
            left: 15px
            svg
                width: 53.12px
                height: 44.8px
        &__phone
            display: none
    .product-card
        &__title
            font-size: 30px

    .section_spec-food
        .heading
            margin-bottom: 40px


    .menu-toggler
        display: block

    .splide
        &__arrows
                display: none
    .intro-slider
        .splide
            &__slide
                min-height: 600px
            &__pagination
                margin-left: 0
                width: 100%
                text-align: center
                left: 0
                top: auto
                bottom: 40px

    .banner_ocenka, .banner_journal
        &:after
            display: none

    .section_banner
        padding-top: 80px !important

    .section_banner-journal
        padding-bottom: 80px

    .section_feedback
        padding-top: 80px

    .section_products .heading
        margin-bottom: 20px

    .section_feedback .form
        margin-top: 40px

    .footer__logo
        margin-left: auto
        margin-right: auto
        margin-bottom: 40px
    .footer__menu
        text-align: center
        margin-top: 0
    .footer .col-contacts
        text-align: center

    .footer__phone
        font-size: 24px

    .footer__contacts
        font-size: 20px

    .row-icons
        .icon-element
            margin-top: 50px
            margin-bottom: 0

    .section_diet
	    .row-items
            .col-item
                margin-bottom: 50px
                &:last-child
                    margin-bottom: 0

    .form-delivery
        padding: 10px
        .form__input, .btn
            margin-top: 20px

    .section_quote 
        .container
            &:after
                width: 270.2px
                height: 441.7px
                background-size: 270.2px 441.7px

    .section_text-cards
        .col-card
            margin-bottom: 40px
            &:last-child
                margin-bottom: 0

    .advantages
        &__item
            width: calc(50% - 10px)

    .digits
        flex-wrap: wrap
        &__item
            margin-bottom: 20px
            min-width: 100%
            &:after
                display: none
            

    .section_advantages
	    .advantage-card_2
            top: 0

    .section_advantages
	    .advantage-card
            margin-bottom: 30px
// ≥768px
+media-breakpoint-down(sm)
    .ecosystem-item
        width: 100% !important
    .form-delivery
        padding: 10px
        .form__input, .btn
            margin-top: 20px

        .js-Dropdown
            margin-bottom: 20px

        .form__input
            margin-top: 0
    .popup
        left: 0%
        border-radius: 30px
        width: 94%
        margin-left: 3%

    .text-card
        padding-left: 30px
        padding-right: 30px
    
    .advantages
        &__item
            width: 100%

    .icon-element
        &__text
            font-size: 16px

    .result-card
        border-radius: 27px
        padding: 20px
        flex-direction: column
        &__img
            img
                max-width: 100%
        &__content
            padding-left: 0
        &__top
            margin-top: 20px
            padding-bottom: 12px

        &__title
            font-size: 24px
            line-height: 30px
        &__price
            font-size: 20px
            line-height: 30px
        &__addr
            font-size: 16px
        &__desc
            font-size: 14px
        .btn-more
            margin-bottom: 15px
// ≥576px
+media-breakpoint-down(xs)
    .product-card
        &__title
            font-size: 24px
        &__text
            font-size: 16px

        &__img
            margin-bottom: 20px
    .text, .banner__text
        font-size: 16px

    .section_ecosystem
        &:after

    .heading
        &_lg
            font-size: 40px
        &_md
            font-size: 32px
        &_sm
            font-size: 24px
        &_xs
            font-size: 18px
    

    .result-card
        &__top
            flex-direction: column
        &__price
            text-align: left
    .section_quote
        .container
            padding-bottom: 170px
            &:after
                width: 189.14px
                height: 309.19px
                background-size: 189.14px 309.19px

    .visual-cards
        &__item
            width: 100%

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
