@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #777B84

::selection
	background-color: $accent
	color: #fff

*
	outline: none !important
	margin: 0
	padding: 0

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.333
	font-family: $default-font
	overflow-x: hidden
	color: $text
	padding-top: 110px
	input, textarea
		border: #666 1px solid
		outline: none



.section_products
    .heading
        margin-bottom: 60px

    .col-product
        margin-top: 20px

.section_ecosystem
	background: rgb(110,200,238)
	background: linear-gradient(339deg, rgba(110,200,238,1) 0%, rgba(218,244,255,1) 100%)
	padding-top: 120px
	overflow: hidden
	position: relative
	>*
		position: relative
		z-index: 2
	&:after
		content: ''
		display: block
		width: 853px
		height: 314px
		position: absolute
		top: 100%
		left: 50%
		margin-left: -426.5px
		transform: translateY(-314px)
		background-image: url(../img/circle.png)
		background-repeat: no-repeat
		background-position: 0 0
		background-size: 853px 314px
.section_banner
	padding-top: 180px !important

.section_banner-journal
	padding-bottom: 180px

.section_map
	img
		max-width: 100%
		height: auto

.section_feedback
	padding-top: 117px
	padding-bottom: 85px
	.heading
		margin-bottom: 0.6em
	.form
		margin-top: 80px

.section_delivery-intro, .section_smart-intro
	background-image: url(../img/bg-delivery.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	min-height: 100vh
	.text-wrapper
		min-height: 100vh
	.form-delivery
		position: relative
		z-index: 10
	.bg
		max-width: 1280px
		margin: 0 auto
		img
			margin-top: -30px
			max-width: 100%
			height: auto

	.row-text
		padding-top: 60px
		padding-bottom: 60px
		.heading
			margin-bottom: 0.6em

.section_smart-intro
	background-image: url(../img/bg-smart.jpg)
.section-scroll-track
	padding-top: 110px

.header
	position: fixed
	height: 110px
	width: 100%
	top: 0
	left: 0
	box-shadow: 0px 4px 4px #E2E8EB
	z-index: 100
	background-color: #fff
	.container
		position: relative
	&__logo
		width: 83px
		height: 70px
		position: absolute
		left: 0
		top: 20px
		svg
			width: 83px
			height: 70px
	&__menu
		display: flex
		width: 100%
		position: absolute
		top: 45px
		left: 0
		padding-left: 83px + 30px
		padding-right: 186px + 30px
		justify-content: space-between
		li
			list-style-type: none
			a
				font-size: 18px
				color: #303844
				text-decoration: none
				font-weight: 500
				transition: .3s ease
				&:hover
					color: $accent
	&__phone
		font-size: 24px
		font-weight: bold
		position: absolute
		right: 0
		top: 40px
		a
			color: #076197
			text-decoration: none
			transition: .3s ease
			&:hover
				color: $accent

.header-inside
	padding-top: 0
	.header
		position: absolute
		background-color: transparent
		box-shadow: none

.header-inside
	&_fixed
		.header
			position: fixed
			background-color: #fff
			box-shadow: none
			box-shadow: 0px 4px 4px #E2E8EB

.footer
	padding-top: 40px
	background-color: #F0F7FA
	padding-bottom: 62px
	.col-contacts
		text-align: right
		a
			text-decoration: none
			transition: .3s ease
			&:hover
				color: $accent
	&__logo
		width: 173px
		height: 146px
		svg
			width: 173px
			height: 146px
	&__contacts
		font-size: 24px
		color: #666B71
		a
			color: #666B71
	&__phone
		font-size: 36px
		color: #303844
		margin-bottom: 20px
		margin-top: 22px
		a
			text-decoration: none
			color: #303844
	&__menu
		margin-top: 46px
		li
			list-style-type: none
			margin-bottom: 20px
			a
				color: #303844
				text-decoration: none
				font-size: 16px
				transition: .3s ease
				&:hover
					color: $accent

.row-icons
	.icon-element
		margin-bottom: 70px

.section_spec-food
	.heading
		margin-bottom: 80px

.section_order
	.heading
		margin-bottom: 0.6em
	.form__input
		margin-bottom: 20px
	.col-item
		margin-bottom: 50px

	.form
		margin-top: 50px

.section_quote
	background-image: url(../img/bg.svg)
	background-size: cover
	background-position: center
	min-height: 560px
	.row	
		width: 100%
	.container
		min-height: 560px
		position: relative
		&:after
			bottom: 0
			right: 0px
			content: ''
			display: block
			position: absolute
			width: 386px
			height: 631px
			background-repeat: no-repeat
			background-position: center
			background-image: url(../img/mavrin.png)
			background-size: 386px 631px

.section_diet
	.heading
		margin-bottom: 0.6em
	.row-items
		margin-top: 50px

.section_care
	.col-item
		margin-top: 50px

.section_reviews
	.reviews-slider
		margin-top: 50px
	.row-btn
		margin-top: 60px

.form-delivery
	padding: 5px
	background-color: #FFFFFF
	border-radius: 30px
	.btn
		width: 100%

	.form__input, .btn
		margin-bottom: 0

.form_search
	select, .js-Dropdown
		margin-bottom: 10px

.section_search-result
	.form_search
		padding: 20px 18px
		background-color: #fff
		border-radius: 27px
		margin-bottom: 30px

.section_advantages
	.advantage-card_2
		position: relative
		top: -20px


.section_search-result
	.result-card
		margin-bottom: 20px

		
@import "media" // Always at the end
